@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4 text-primary">¡Welcome, @ViewData["userName"]!</h1>
            <p class="lead">Bitsion Technical Assessment.</p>
            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Person" asp-action="Index">Start</a>
        </div>
    </div>
</div>